<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
  <h1>This is my dashboard.</h1>
  <h1>Total Steps: {{ totalToday[0]}}</h1>
  <h1>Total calories: {{ totalToday[1]}}</h1>                                    
  <h1>Total heart_rate: {{ totalToday[2]}}</h1>
  <h1>Total rating: {{ totalToday[3]}}</h1> 
  <h1>Steps 0: {{ todayData['steps'][0]}}</h1>
  <h1>calories 0: {{ todayData['calories'][0]}}</h1>                                    
  <h1>heart_rate 0: {{ todayData['heart_rate'][0]}}</h1>
  <h1>rating 0: {{ todayData['rating'][0]}}</h1> 



{% endblock %}