{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
    
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <p>It looks like you have trouble logging in. Enter your Email below and we will send you a link to reset your password. </p>
        <br>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('web.register') }}">SignUp.<br><br></a>
{% endblock %}